.boximage {
    max-width: 150px;
    margin: 0px 0px;
    display: flex;
    
}

.box {
    width: 380px;
    height: 300x;
    margin: 190px 130px 10px;
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: antiquewhite;
    box-shadow: 0 3px 13px 1px black
}

.testbox {
    width: 480px;
}