
* {
    background-color: rgb(124, 109, 109);
}

.app {
min-height: 100vh;
display: flex;
flex: wrap;
align-items: left;
text-align: center;


}

html,
body {
    font-size: 18px;
    background-image: url("./jpg/map1.png"); 
    width: 0px;
    
}

.texto1 {
    color: aliceblue;
}